.Container {
    margin-top: 20px;
    height: 100px;
    padding: 10px;
    background-color: rgb(34, 29, 29);
    color: white;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.Container--button {
    background-color: rgb(100, 165, 2);
    height: 30px;
    width: 50%;
    border: none;
    font-size: 16px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    border-radius: 10px;
}